.parent {
    background-image: url("programming-code-icon-made-with-binary-code-coding-hacker-matrix-background-with-digits-1-0_127544-1141.webp");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.text {
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;

}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 50%;
    display: inline block;

}

.bottom-right {
    bottom: 0;
    right: 0;
}
.hamburger{
    color: white;
}
.center {
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: black;
    text-align: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
   
}
.mid{
    background-color: gray;
}
.tl{
    text-align: center;
    padding-top: 10px;
}

.container{
    padding-top: 45px;
    
}
.card{
    background-color: gray;
}
